<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
        <link
    rel="stylesheet"
    type="text/css"
    href="{{ url_for('static', filename='css/styles.css') }}"
  />

    <title>Document</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <img
          style="max-width:10%;
          max-height:10%;"
          src="{{ url_for('static', filename='img/green.png') }}"
          alt="logo"
        />
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  id="navbarDropdown"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  Dropdown
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><hr class="dropdown-divider" /></li>
                  <li>
                    <a class="dropdown-item" href="#">Something else here</a>
                  </li>
                </ul>
              </li>
            </ul>
            </form>
          </div>
        </div>
      </nav>
    <main>
    <div class="leftcontainer">
        <h1>New Goal</h1>
  
        <form action="/add/new/goal/" method="POST" >
        <h3>Goal Name:</h3>
        <input name="name" type="text">
        <h3>Goal Description:</h3>
        
        <textarea name="description"  cols="30" rows="5"></textarea>
        <h4>ispublic? <input id="publiccheck"onclick="setpublic()" type="checkbox" name="check"></h4>
        <button type="submit">specifics</button>  </form>
    </div>  
    <div class="rightcontainer">
        <h1>Public goals</h1> 
        <form action="/add/public/goal/" method="POST">
          
        <select class="form-select" name = "id" multiple aria-label="multiple select example">
          {%for goal in goals %}
            <option onclick="showdesc('{{goal.description}}')" value={{goal.id}}>{{goal.name}}</option>
          {%endfor%}
            </select>
          <h3>description</h3>
          <p id = "publicdesc"></p>
        <button type="submit">specifics</button></form>
    </div>    
         
    </main>

  </body>

  <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  <script>
      function showdesc(string){
          document.getElementById("publicdesc").innerHTML = string
      }      
  </script>
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"
  ></script>
</html>
